<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script type="text/javascript" src="/js/jquery-3.6.4.min.js"></script>
    <script type="text/javascript" src="/js/admin/movie-reg.js"></script>
    <link rel="stylesheet" href="/css/admin/admin.css" />
  </head>
  <body>
    <div id="app">
      <div class="left">
        <ul>
          <li><a href="/admin/reg/movie">작품 등록</a></li>
          <li><a href="/admin/edit/movie">작품 수정</a></li>
          <li><a href="/admin/reg/actor">배우 등록</a></li>
          <li><a href="/admin/reg/director">감독 등록</a></li>
        </ul>
      </div>
      <div class="page">
        <h3>작품 수정</h3>
        <table>
        	<tr  th:each="movie : ${movies}">
        		<td th:text="${movie.movie_title}"></td>
        		<td><a th:href="@{/admin/edit/movie-detail(movieSeq=${movie.movie_seq})}">수정</a></td>
        	</tr>
        	<!-- <tr>
        		<td>제목</td>
        		<td><a href="#">수정</a></td>
        	</tr>
        	<tr>
        		<td>제목</td>
        		<td><a href="#">수정</a></td>
        	</tr>
        	<tr>
        		<td>제목</td>
        		<td><a href="#">수정</a></td>
        	</tr> -->
        	
        </table>
      </div>
    </div>
     <div class="modal" style="display: none">
       <div class=reg-form>
       	<h3>감독 등록</h3>
       	<div><input type="text" id="name"></div>
       	<div>
       		<button type="button" id="btn-reg">등록</button>
       		<button type="button" id="btn-close">닫기</button>	
       	</div>
       </div>
      </div>
  </body>
</html>
