<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script type="text/javascript" src="/js/jquery-3.6.4.min.js"></script>
    <script type="text/javascript" src="/js/admin/movie-reg.js"></script>
    <link rel="stylesheet" href="/css/admin/admin.css" />
  </head>
  <body>
    <div id="app">
      <div class="left">
        <ul>
          <li><a href="/admin/reg/movie">작품 등록</a></li>
          <li><a href="/admin/edit/movie">작품 수정</a></li>
          <li><a href="/admin/reg/actor">배우 등록</a></li>
        </ul>
      </div>
      <div class="page">
        <h3 th:text="${movie.movie_title}">영화 수정</h3>
         <ul>
              <li>영화이미지</li>
              <li>
              	<div><input class="poster" type="file"></div>
              	<div class="posters"></div>
              	<!-- <button id="addMovie">등록</button> -->
              </li>
              <li>
                영화제목 <input type="text" th:value="${movie.movie_title}" name="title" id="title" />
              </li>
              <li>제작사 <input type="text" th:value="${movie.movie_produce}" name="producer" id="producer" /></li>
              <li>상영시간<input type="text" th:value="${movie.running_time_mins}" name="runningTime" id="runningTime" /></li>
              <li>
                영화등급
                <select  name="grade" id="grade">
	                  <option th:selected="${movie.grade}=='0'" selected>전체</option>
	                  <option th:selected="${movie.grade}=='8'" selected>8세</option>
	                  <option th:selected="${movie.grade}=='12'" selected>12세</option>
	                  <option th:selected="${movie.grade}=='15'" selected>15세</option>
	                  <option th:selected="${movie.grade}=='18'" selected>18세</option>
                </select>
              </li>
              <li>
                개봉일 <input type="date" th:value="${movie.open_date}" name="" id="openDate" />
              </li>
              <li>
                기본정보
                <textarea name="" id="movieBaseInfo" cols="30" rows="10" th:text="${movie.movie_base_info}"></textarea>
              </li>
              <li>
                영화줄거리
                <textarea name="" id="movieStory" cols="30" rows="10" th:text="${movie.movie_story}"></textarea>
              </li>
              <li>
              	<h5>감독</h5>
              	<div class="directors" >
              	</div>
              </li>
              <li>
              	<h5>출연진</h5>
              	<div class="casting">
              		<!-- <div class="actor"><span>송강호</span> <span class="role">한상현</span><button>수정</button><button>삭제</button></div>
              		<div class="actor"><span>김옥빈</span> <span class="role">태주</span><button>수정</button><button>삭제</button></div> -->
              	</div>
              	<div>
              		<button id="addActor">배우 연결</button>
              	</div>
              </li>
            </ul>
      </div>
    </div>
    
    <div class="modal casting-reg" style="display: none">
       <div class="reg-form ">
	       	<h3>배우 연결</h3>
	       	<div>
	       		<input type="text" id="actor" placeholder="배우입력" value="">
	       	</div>
	       	<div class="actors">
	       		<!-- <div class="actor">신하균</div> -->
	       	</div>
	       	<div class="casting-list" style="display: none">
	       		<input type="text" class="casting"  placeholder="배역입력">
	       		<select class="role" name="">
	       			<option value="L" selected>주연</option>
                  	<option value="S" >조연</option>
                  	<option value="E" >엑스트라</option>
                  	<option value="D" >감독</option>
	       		</select>
	       	</div>
	       	<div>
	       		<button type="button" class="btn-reg">등록</button>
	       		<button type="button" class="btn-close">닫기</button>	
	       	</div>
       </div>
       <!-- <div class="director-reg-form ">
	       	<h3>감독 등록</h3>
	       	<div>
	       		<input type="text" id="director" placeholder="감독입력">
	       	</div>
	       
	       	<div>
	       		<button type="button" class="btn-reg">등록</button>
	       		<button type="button" class="btn-close">닫기</button>	
	       	</div>
       </div> -->
    </div>
    <div class="modal director-form" style="display: none">
       <div class="reg-form">
	       	<h3>출연진 수정</h3>
	       	<div class="nav-ctrl">
	       		<button class="nav-btn-prev">이전</button>
	       		<button class="nav-btn">다음</button>
	       	</div>
	       	<div>
	       		<h5>인물 정보</h5>
	       		<input type="text" class="actor_name" placeholder="실명" value="">
	       		<button type="button" class="btn-name-edit">수정</button>
	       	</div>
	       	<div>
	       		<h5>인물 수정</h5>
	       		<input type="file" class="actor_pic" value="">
	       		<button type="button" class="btn-pic-edit">수정</button>
	       	</div>
	       	<div class="casting-list">
	       		<h5>배역 정보</h5>
	       		<input type="text" class="casting"  placeholder="배역명">
	       		<select class="role">
	       			<option value="L" selected>주연</option>
                  	<option value="S" selected>조연</option>
                  	<option value="E" selected>엑스트라</option>
	       		</select>
	       		<button type="button" class="btn-casting-edit">수정</button>
	       	</div>
	       	<div>
	       		<button type="button" class="btn-close">닫기</button>	
	       	</div>
       </div>
    </div>
  </body>
</html>
