<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="MovieRatingMapper">
	  <select id="movieList" resultType="Movie">
	  	select * 
	  	 from movies
	  	 order by movie_avg_score desc
	  	 limit 5
	  </select>
  </mapper>