<html
  lang="ko"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
  <head>
    <!-- <th:block th:fragment="addon">
    <link rel="stylesheet" href="/css/gnb.css" />
  </th:block> -->
  </head>
  <body>
    <nav class="top-nav" th:fragment="gnb">
       <div class="brand-name">
        <h3><a href="/">퍼니무비</a></h3>
      </div>
      <ul class="menu">
        <li>영화예매</a></li>
        <li>극장소개</a></li>
        <li><a href="/movies">영화정보</a></li>
        <li>영화순위</li>
        <li>공지사항</li>
        <li>FAQ</li>
      </ul> 
     <!--  <img alt="" src="../image/logo.jpg"> -->
    </nav>
  </body>
</html>
