<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script>
      $(document).ready(() => {
        $("#btn-logout").on("click", (e) => {
          console.log("aaa");

          fmovie.user.logout((res) => {
            console.log(res);
            location.reload();
          });
        });
      });
    </script>
  </head>
  <body>
    <div>
      <p><span th:text="${session.LOGIN_USER.user_id}">USERID</span>님 환영합니다.</p>
      <span>
        <button id="btn-logout">logout</button>
      </span>
    </div>
  </body>
</html>
