@charset "UTF-8";

.join-form {
	padding: 8px;
    background-color: aliceblue;
    margin: auto;
    width: 380px;
    display: flex;
    flex-direction: column;
}

.join-form .elem {
	    display: flex;
    column-gap: 8px;
}

.join-form .elem label {
	width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}