<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/js/jquery-3.6.4.min.js"></script>
    <title>Funny Movie Bottom</title>
  </head>
  <body>
		<div id=bottom1>
			<a href="">홈&nbsp;&nbsp;|</a>			
			<a href="">&nbsp;회원정보취급방침&nbsp;&nbsp;|</a>
			<a href="">&nbsp;이용약관&nbsp;&nbsp;|</a>
			<a href="">&nbsp;FAQ&nbsp;&nbsp;|</a>
			<a href="">&nbsp;사이트맵</a>
		</div>
		<table border=0>	
     		<tr>
      			<td rowspan=2><img src="image/footer.gif" border=0></td>
      			<td style="color:black;font-size: 10px;">&nbsp;&nbsp;서울시특별시 서초구 양재동 12-7 퍼니무비</td>
      			<td style="color:black;font-size: 10px;">&nbsp;☞사업자등록번호:201-81-48800</td>
      			<td style="color:black;font-size: 10px;">&nbsp;☞대표이사: 안경호</td>
      			<td style="color:black;font-size: 10px;">&nbsp;☞통신판매업 신고번호:04-580-365호</td>
     		</tr>
     		<tr>
     			<td style="color:black;font-size: 10px;" colspan=4 align="left">
     						&nbsp;&nbsp;Copyright 2009 Funny Movie Inc. All rights reserved.</td>
     		</tr>
    	</table>
  </body>
</html>