<!DOCTYPE html>
<html
  lang="ko"
  xmlns:th="http://www.thymeleaf.org"
  layout:decorate="~{layout/layout.html}"
>

	<head>
	
		 <meta http-equiv="X-UA-Compatible" content="IE=Edge">
		 <link rel="stylesheet" href="/css/mypage.css" />
		 <link rel="stylesheet" href="/css/scoring.css" />
		 <script type="text/javascript" src="/js/mypage/index.js"></script>
		 <script type="text/javascript" src="/js/scoring.js"></script>
	</head>
	<body>
		<div  layout:fragment="content">
		<h3>내 정보</h3>
		<div id="main">
			<!-- 1. tab -->
			<nav class="tab-header">
				<button class="active" data-tab="basic">기본정보</button>
				<button data-tab="community">커뮤니티</button>
				<button data-tab="note">쪽지</button>
			</nav>
			<div class="tab-body">
				<section class="active" data-tab="basic"></section>
				<section class="community" data-tab="community">커뮤니티 정보 리뷰 리스트</section>
				<section data-tab="note">쪽지 관리 내용</section>
			</div>
			
			<!-- 2. tab body -->
		</div>
		</div>
	</body>
</html>