<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/js/jquery-3.6.4.min.js"></script>
    <title>Top Logo</title>
  </head>
  <body>
    <img src="./image/logo.jpg" border="0" usemap="#ImageMap1">
			<a name="ImageMap1">
				<a href="reserveList.ro">영화예매</a><!-- 영화예매 -->
				<area shape="rect" coords="343, 17, 398, 36" href="introduce/intro_theater.jsp" target="_parent"><!-- 극장소개 -->
				<area shape="rect" coords="442, 16, 497, 36" href="Review.mi" target="_parent"><!-- 영화정보 -->
				<area shape="rect" coords="542, 16, 598, 36" href="#" target="_parent"><!-- 영화순위 -->
				<area shape="rect" coords="640, 17, 697, 35" href="NoticeList.no" target="_parent"><!-- 공지사항 -->
				<area shape="rect" coords="739, 17, 772, 35" href="FAQList.bo" target="_parent"><!-- FAQ -->
				<area shape="rect" coords="17, 15, 185, 78" href="index.do" target="_parent">
			</map>
  </body>
</html>